body {
    margin: 0;
    font-family: Arial;
    background: url("/static/car-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard {
    background: rgba(0,0,0,0.7);
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    width: 350px;
}

h1 {
    color: white;
}

p {
    color: #ccc;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background: #00c853;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #00e676;
}

h2 {
    color: #fff;
    margin-top: 20px;
}